---
import "@/styles/globals.css";
---

<header
  class="mx-6 mb-[1.44rem] mt-6 flex items-center justify-between gap-[5.31rem]
  md:mx-10 md:mb-[1.69rem] md:mt-[1.81rem] md:gap-[25.18rem] lg:mx-10 lg:my-10 lg:gap-[63.65rem]"
>
  <a href="/" class="">
    <img
      src="/images/shared/logo.svg"
      alt=""
      class="w-[7.065rem] lg:w-[10.5975rem]"
    />
  </a>
  <a
    href="/starry-night"
    class="w-[9rem] gap-[5.31rem] text-[0.5625rem] font-bold uppercase leading-normal
     tracking-[0.12056rem] text-[#7D7D7D] transition-colors duration-500 ease-linear hover:text-[#000] md:max-xl:text-xs md:max-xl:tracking-[0.16069rem]"
    >START SLIDESHOW</a
  >
</header>
